/* CSS Document */
/* Colors */
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300);
@import url(http://fonts.googleapis.com/css?family=News+Cycle);
/* line 4, C:/wamp/www/safe4kids/neat/grid/_box-sizing.scss */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 9, C:/wamp/www/safe4kids/neat/grid/_box-sizing.scss */
*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

/* General */
/* line 17, assets/sass/style.scss */
a {
  text-decoration: none !important; }

/* line 20, assets/sass/style.scss */
article {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  /* line 9, C:/wamp/www/safe4kids/bourbon/addons/_clearfix.scss */
  article::after {
    clear: both;
    content: "";
    display: table; }

/* line 23, assets/sass/style.scss */
body {
  margin: 0px; }

/* line 26, assets/sass/style.scss */
h1, h2, h3, h4, h5 {
  font-family: 'News Cycle', sans-serif;
  letter-spacing: 2px;
  color: #454545; }

/* line 31, assets/sass/style.scss */
hr {
  border-top: 1px solid #ccc; }

/* line 34, assets/sass/style.scss */
p, span, div {
  font-family: 'News Cycle', sans-serif;
  color: #747474; }

/* line 38, assets/sass/style.scss */
span {
  display: inline; }

/* line 41, assets/sass/style.scss */
.wrap {
  width: 75em;
  margin: 0 auto; }

@media screen and (max-width: 768px) {
  /* line 46, assets/sass/style.scss */
  address, button, h1, h2, h3, h4, h5, input, p, ul {
    margin-left: 20px;
    margin-right: 20px; } }

@media screen and (max-width: 768px) {
  /* line 52, assets/sass/style.scss */
  img {
    margin-left: 5px; } }

/* Grid */
/* line 59, assets/sass/style.scss */
aside {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 23.72881%; }
  /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
  aside:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    /* line 59, assets/sass/style.scss */
    aside {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 32.20339%; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      aside:last-child {
        margin-right: 0; } }

/* line 67, assets/sass/style.scss */
.one_third {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 32.20339%; }
  /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
  .one_third:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    /* line 67, assets/sass/style.scss */
    .one_third {
      padding-left: 20px;
      padding-right: 20px;
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 32.20339%; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      .one_third:last-child {
        margin-right: 0; } }

/* line 77, assets/sass/style.scss */
.two_third {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 66.10169%; }
  /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
  .two_third:last-child {
    margin-right: 0; }
  @media screen and (max-width: 480px) {
    /* line 77, assets/sass/style.scss */
    .two_third {
      padding-left: 20px;
      padding-right: 20px;
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 32.20339%; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      .two_third:last-child {
        margin-right: 0; } }

/* Mixins */
/* line 1, assets/sass/_header.scss */
nav {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  /* line 9, C:/wamp/www/safe4kids/bourbon/addons/_clearfix.scss */
  nav::after {
    clear: both;
    content: "";
    display: table; }
  /* line 6, assets/sass/_header.scss */
  nav .logo {
    float: left;
    display: block;
    height: 200px;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 32.20339%; }
    /* line 11, assets/sass/_header.scss */
    nav .logo a img {
      margin-top: 40px;
      position: absolute; }
      @media screen and (max-width: 480px) {
        /* line 11, assets/sass/_header.scss */
        nav .logo a img {
          width: 280px;
          display: block;
          margin-left: auto;
          margin-right: auto;
          position: relative; } }
    /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
    nav .logo:last-child {
      margin-right: 0; }
    @media screen and (max-width: 480px) {
      /* line 6, assets/sass/_header.scss */
      nav .logo {
        height: 140px;
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
        nav .logo:last-child {
          margin-right: 0; } }
  /* line 29, assets/sass/_header.scss */
  nav .nav-wrap {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 66.10169%; }
    /* line 30, assets/sass/_header.scss */
    nav .nav-wrap .call {
      position: relative;
      width: 100%;
      text-align: right;
      font: bold 25px Arial;
      color: #90b95d;
      margin: 10px 0px 20px 0px;
      font-family: 'News Cycle', sans-serif;
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 100%; }
      /* line 38, assets/sass/_header.scss */
      nav .nav-wrap .call a {
        color: #90b95d; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      nav .nav-wrap .call:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        /* line 30, assets/sass/_header.scss */
        nav .nav-wrap .call {
          text-align: left; } }
      @media screen and (max-width: 480px) {
        /* line 30, assets/sass/_header.scss */
        nav .nav-wrap .call {
          text-align: center;
          float: left;
          display: block;
          margin-right: 1.69492%;
          width: 100%; }
          /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
          nav .nav-wrap .call:last-child {
            margin-right: 0; } }
    /* line 50, assets/sass/_header.scss */
    nav .nav-wrap .menu {
      position: relative;
      top: 20px;
      left: 0px;
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 100%; }
      /* line 54, assets/sass/_header.scss */
      nav .nav-wrap .menu ul {
        float: right;
        list-style-type: none; }
        /* line 57, assets/sass/_header.scss */
        nav .nav-wrap .menu ul span {
          display: none; }
        /* line 60, assets/sass/_header.scss */
        nav .nav-wrap .menu ul li {
          margin-left: 20px;
          font-size: 22px;
          font-family: 'Yanone Kaffeesatz', sans-serif;
          display: inline;
          color: #747474;
          transition: color 0.3s ease; }
          /* line 67, assets/sass/_header.scss */
          nav .nav-wrap .menu ul li .current_page_item {
            color: #90b95d; }
          /* line 70, assets/sass/_header.scss */
          nav .nav-wrap .menu ul li:hover {
            color: #90b95d; }
          @media screen and (max-width: 768px) {
            /* line 60, assets/sass/_header.scss */
            nav .nav-wrap .menu ul li {
              display: none; } }
        /* line 77, assets/sass/_header.scss */
        nav .nav-wrap .menu ul .current_page_item {
          color: #90b95d; }
          @media screen and (max-width: 768px) {
            /* line 77, assets/sass/_header.scss */
            nav .nav-wrap .menu ul .current_page_item {
              margin-left: 0px;
              display: block; } }
        @media screen and (max-width: 768px) {
          /* line 54, assets/sass/_header.scss */
          nav .nav-wrap .menu ul {
            float: left;
            margin-left: 0px;
            margin-top: 10px; }
            /* line 88, assets/sass/_header.scss */
            nav .nav-wrap .menu ul li {
              margin-left: 0px; } }
        @media screen and (max-width: 480px) {
          /* line 54, assets/sass/_header.scss */
          nav .nav-wrap .menu ul {
            display: none; } }
      /* line 96, assets/sass/_header.scss */
      nav .nav-wrap .menu .active {
        position: fixed;
        z-index: 200;
        width: 100%;
        top: 0px;
        left: 0px;
        margin: 0 auto;
        padding: 0px;
        background-color: rgba(66, 66, 66, 0.95); }
        /* line 105, assets/sass/_header.scss */
        nav .nav-wrap .menu .active span {
          display: inline;
          position: fixed;
          top: 6px;
          right: 10px; }
        /* line 111, assets/sass/_header.scss */
        nav .nav-wrap .menu .active li {
          width: 100%;
          border-bottom: 1px solid #8f6ea7;
          display: block !important;
          text-align: center;
          padding: 9px 0px;
          font-size: 24px;
          font-weight: bold;
          letter-spacing: 2px; }
          /* line 120, assets/sass/_header.scss */
          nav .nav-wrap .menu .active li:hover {
            background-color: rgba(143, 110, 167, 0.5); }
        @media screen and (max-width: 480px) {
          /* line 96, assets/sass/_header.scss */
          nav .nav-wrap .menu .active {
            display: block; } }
      /* line 128, assets/sass/_header.scss */
      nav .nav-wrap .menu span {
        display: none;
        border-radius: 50%;
        border: 10px solid #8f6ea7;
        background-color: #8f6ea7;
        float: left;
        font-size: 30px;
        color: #90b95d;
        transition: background-color 0.3s ease;
        z-index: 100; }
        /* line 138, assets/sass/_header.scss */
        nav .nav-wrap .menu span:hover {
          color: #8f6ea7;
          background-color: #90b95d;
          border: 10px solid #90b95d; }
        @media screen and (max-width: 768px) {
          /* line 128, assets/sass/_header.scss */
          nav .nav-wrap .menu span {
            display: block; } }
        @media screen and (max-width: 480px) {
          /* line 128, assets/sass/_header.scss */
          nav .nav-wrap .menu span {
            border: 5px solid #8f6ea7;
            top: 15px;
            right: 15px;
            font-size: 25px;
            width: 35px;
            position: fixed; }
            /* line 153, assets/sass/_header.scss */
            nav .nav-wrap .menu span:hover {
              border: 5px solid #90b95d; } }
      /* line 158, assets/sass/_header.scss */
      nav .nav-wrap .menu .fixed {
        top: 15px;
        right: 15px;
        position: fixed; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      nav .nav-wrap .menu:last-child {
        margin-right: 0; }
    /* line 165, assets/sass/_header.scss */
    nav .nav-wrap .social-links {
      width: 100%;
      margin-top: 25px;
      float: left;
      display: block;
      margin-right: 2.5641%;
      width: 100%; }
      /* line 168, assets/sass/_header.scss */
      nav .nav-wrap .social-links span {
        float: right;
        margin-left: 10px;
        color: #8f6ea7;
        font-size: 30px;
        transition: color 0.3s ease; }
        /* line 174, assets/sass/_header.scss */
        nav .nav-wrap .social-links span:hover {
          color: #90b95d; }
        @media screen and (max-width: 768px) {
          /* line 168, assets/sass/_header.scss */
          nav .nav-wrap .social-links span {
            float: left; } }
        @media screen and (max-width: 480px) {
          /* line 168, assets/sass/_header.scss */
          nav .nav-wrap .social-links span {
            float: none; } }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      nav .nav-wrap .social-links:last-child {
        margin-right: 0; }
      @media screen and (max-width: 768px) {
        /* line 165, assets/sass/_header.scss */
        nav .nav-wrap .social-links {
          margin-top: 30px;
          text-align: left;
          float: none;
          float: left;
          display: block;
          margin-right: 1.69492%;
          width: 100%; }
          /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
          nav .nav-wrap .social-links:last-child {
            margin-right: 0; } }
      @media screen and (max-width: 480px) {
        /* line 165, assets/sass/_header.scss */
        nav .nav-wrap .social-links {
          text-align: center;
          float: left;
          display: block;
          margin-right: 1.69492%;
          width: 100%; }
          /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
          nav .nav-wrap .social-links:last-child {
            margin-right: 0; } }
    /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
    nav .nav-wrap:last-child {
      margin-right: 0; }
    @media screen and (max-width: 768px) {
      /* line 29, assets/sass/_header.scss */
      nav .nav-wrap {
        padding-left: 25%; } }
    @media screen and (max-width: 480px) {
      /* line 29, assets/sass/_header.scss */
      nav .nav-wrap {
        padding-left: 0px;
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
        nav .nav-wrap:last-child {
          margin-right: 0; } }

/* line 1, assets/sass/_content.scss */
header {
  width: 100%;
  background-image: url("/safe4kids/assets/art/slider-background.jpg");
  background-size: 100% 200%;
  background-repeat: no-repeat;
  height: 80px;
  border-top: 1px solid #8f6ea7;
  border-bottom: 1px solid #8f6ea7; }
  /* line 9, assets/sass/_content.scss */
  header div {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto; }
    /* line 10, assets/sass/_content.scss */
    header div h1 {
      margin-top: 10px;
      color: #5f862a; }
    /* line 9, C:/wamp/www/safe4kids/bourbon/addons/_clearfix.scss */
    header div::after {
      clear: both;
      content: "";
      display: table; }

/* line 17, assets/sass/_content.scss */
.content {
  margin-top: 40px;
  margin-bottom: 40px;
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  /* line 9, C:/wamp/www/safe4kids/bourbon/addons/_clearfix.scss */
  .content::after {
    clear: both;
    content: "";
    display: table; }

/* line 1, assets/sass/_employee.scss */
.employee {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto;
  margin: 20px auto; }
  /* line 9, C:/wamp/www/safe4kids/bourbon/addons/_clearfix.scss */
  .employee::after {
    clear: both;
    content: "";
    display: table; }
  /* line 4, assets/sass/_employee.scss */
  .employee span[itemprop="name"] {
    font-weight: bold;
    font-size: 20px; }
  /* line 8, assets/sass/_employee.scss */
  .employee a[itemprop="email"] {
    font-style: italic;
    color: #90b95d; }
    /* line 11, assets/sass/_employee.scss */
    .employee a[itemprop="email"]:hover {
      color: #8f6ea7; }
  /* line 15, assets/sass/_employee.scss */
  .employee span[itemprop="telephone"] {
    font-style: italic;
    display: inline; }
  /* line 19, assets/sass/_employee.scss */
  .employee p {
    margin: 10px 0px; }
  /* line 22, assets/sass/_employee.scss */
  .employee img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 10px solid #e1e1e1; }

@font-face {
  font-family: 'icomoon';
  src: url("/safe4kids/assets/fonts/icomoon.eot?-bu0j9w");
  src: url("/safe4kids/assets/fonts/icomoon.eot?#iefix-bu0j9w") format("embedded-opentype"), url("/safe4kids/assets/fonts/icomoon.woff?-bu0j9w") format("woff"), url("/safe4kids/assets/fonts/icomoon.ttf?-bu0j9w") format("truetype"), url("/safe4kids/assets/fonts/icomoon.svg?-bu0j9w#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
/* line 16, assets/sass/_fonts.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 30, assets/sass/_fonts.scss */
.icon-cart:before {
  content: "\e93a"; }

/* line 34, assets/sass/_fonts.scss */
.icon-search:before {
  content: "\e986"; }

/* line 38, assets/sass/_fonts.scss */
.icon-menu:before {
  content: "\e9bd"; }

/* line 42, assets/sass/_fonts.scss */
.icon-cross:before {
  content: "\ea0f"; }

/* line 46, assets/sass/_fonts.scss */
.icon-mail:before {
  content: "\ea86"; }

/* line 50, assets/sass/_fonts.scss */
.icon-facebook:before {
  content: "\ea8e"; }

/* line 54, assets/sass/_fonts.scss */
.icon-twitter:before {
  content: "\ea93"; }

/* line 1, assets/sass/_home.scss */
.intro-wrap {
  border-bottom: 1px solid #8f6ea7;
  background-color: #e1d4ea; }
  /* line 4, assets/sass/_home.scss */
  .intro-wrap .intro {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px; }
    /* line 9, C:/wamp/www/safe4kids/bourbon/addons/_clearfix.scss */
    .intro-wrap .intro::after {
      clear: both;
      content: "";
      display: table; }
    /* line 7, assets/sass/_home.scss */
    .intro-wrap .intro .info {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 66.10169%; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      .intro-wrap .intro .info:last-child {
        margin-right: 0; }
      @media screen and (max-width: 480px) {
        /* line 7, assets/sass/_home.scss */
        .intro-wrap .intro .info {
          float: left;
          display: block;
          margin-right: 1.69492%;
          width: 32.20339%;
          border-top: 1px solid #8f6ea7; }
          /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
          .intro-wrap .intro .info:last-child {
            margin-right: 0; } }
    /* line 14, assets/sass/_home.scss */
    .intro-wrap .intro .quote {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 32.20339%;
      margin-right: 0; }
      /* line 15, assets/sass/_home.scss */
      .intro-wrap .intro .quote h3 {
        width: 100%;
        text-align: center;
        margin: 70px 20px 0px 0px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        font-weight: 300;
        font-size: 25px;
        color: #483957;
        letter-spacing: 1px; }
        @media screen and (max-width: 480px) {
          /* line 15, assets/sass/_home.scss */
          .intro-wrap .intro .quote h3 {
            margin-top: 10px;
            padding: 0px 10px 0px 10px; } }
      /* line 29, assets/sass/_home.scss */
      .intro-wrap .intro .quote p {
        text-align: right;
        font-family: 300 'Yanone Kaffeesatz', sans-serif;
        font-size: 20px;
        color: #71bd13;
        padding-right: 40px; }
        @media screen and (max-width: 480px) {
          /* line 29, assets/sass/_home.scss */
          .intro-wrap .intro .quote p {
            margin-bottom: 0px;
            padding-right: 10px; } }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      .intro-wrap .intro .quote:last-child {
        margin-right: 0; }
      @media screen and (max-width: 480px) {
        /* line 14, assets/sass/_home.scss */
        .intro-wrap .intro .quote {
          float: left;
          display: block;
          margin-right: 1.69492%;
          width: 32.20339%; }
          /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
          .intro-wrap .intro .quote:last-child {
            margin-right: 0; } }

/* line 48, assets/sass/_home.scss */
section {
  max-width: 75em;
  margin-left: auto;
  margin-right: auto; }
  /* line 9, C:/wamp/www/safe4kids/bourbon/addons/_clearfix.scss */
  section::after {
    clear: both;
    content: "";
    display: table; }
  /* line 50, assets/sass/_home.scss */
  section article {
    margin-top: 60px;
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 32.20339%; }
    /* line 52, assets/sass/_home.scss */
    section article button {
      width: 120px;
      height: 40px;
      border: 0px;
      color: white;
      background-color: #90b95d;
      transition: background-color 0.3s ease;
      font-size: 14px;
      margin-bottom: 40px; }
      /* line 61, assets/sass/_home.scss */
      section article button:hover {
        border: 1px solid #90b95d;
        background-color: #8f6ea7;
        color: #90b95d; }
      @media screen and (max-width: 480px) {
        /* line 52, assets/sass/_home.scss */
        section article button {
          margin-bottom: 30px; } }
    /* line 70, assets/sass/_home.scss */
    section article img {
      border: 10px solid #90b95d;
      transition: border 0.5s ease; }
      /* line 73, assets/sass/_home.scss */
      section article img:hover {
        border: 10px solid #8f6ea7; }
      @media screen and (max-width: 768px) {
        /* line 70, assets/sass/_home.scss */
        section article img {
          width: 240px !important; } }
      @media screen and (max-width: 480px) {
        /* line 70, assets/sass/_home.scss */
        section article img {
          width: 280px !important; } }
    /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
    section article:last-child {
      margin-right: 0; }
    /* line 78, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
    section article:nth-child(3n) {
      margin-right: 0; }
    /* line 83, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
    section article:nth-child(3n+1) {
      clear: left; }
    @media screen and (max-width: 480px) {
      /* line 50, assets/sass/_home.scss */
      section article {
        margin-top: 30px;
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 32.20339%; }
        /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
        section article:last-child {
          margin-right: 0; } }

/* line 1, assets/sass/_slider.scss */
.slider {
  width: 100%;
  background-image: url("/safe4kids/assets/art/slider-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-top: 1px solid #8f6ea7;
  border-bottom: 1px solid #8f6ea7; }
  /* line 8, assets/sass/_slider.scss */
  .slider .banner {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto; }
    /* line 9, C:/wamp/www/safe4kids/bourbon/addons/_clearfix.scss */
    .slider .banner::after {
      clear: both;
      content: "";
      display: table; }
    /* line 10, assets/sass/_slider.scss */
    .slider .banner ul {
      padding: 0px;
      margin: 0px; }
      /* line 13, assets/sass/_slider.scss */
      .slider .banner ul li {
        list-style: none;
        float: left;
        height: 600px; }
    /* line 19, assets/sass/_slider.scss */
    .slider .banner .dots {
      position: absolute;
      top: 75%;
      left: 50%; }
      /* line 23, assets/sass/_slider.scss */
      .slider .banner .dots li {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 4px;
        text-indent: -999em;
        border: 2px solid #fff;
        border-radius: 6px;
        cursor: pointer;
        opacity: .4;
        -webkit-transition: background .5s, opacity .5s;
        -moz-transition: background .5s, opacity .5s;
        transition: background .5s, opacity .5s; }
    /* line 38, assets/sass/_slider.scss */
    .slider .banner .active {
      background: #fff;
      opacity: 1; }
  /* line 44, assets/sass/_slider.scss */
  .slider #slide-one div {
    width: 50%;
    height: 600px;
    float: left; }
    /* line 48, assets/sass/_slider.scss */
    .slider #slide-one div h2 {
      margin-top: 25%;
      font-family: 'News Cycle', sans-serif;
      letter-spacing: 2px;
      font-size: 40px;
      color: #3c2f47;
      margin-bottom: 10px; }
    /* line 56, assets/sass/_slider.scss */
    .slider #slide-one div h3 {
      font-family: 'News Cycle', sans-serif;
      letter-spacing: 4px;
      font-size: 25px;
      color: #729842;
      margin: 0px; }
    /* line 63, assets/sass/_slider.scss */
    .slider #slide-one div button {
      width: 150px;
      height: 50px;
      border: 1px solid #8f6ea7;
      color: #8f6ea7;
      background-color: #90b95d;
      transition: background-color 0.3s ease;
      font-size: 18px; }
      /* line 71, assets/sass/_slider.scss */
      .slider #slide-one div button:hover {
        border: 1px solid #90b95d;
        background-color: #8f6ea7;
        color: #90b95d; }
    /* line 77, assets/sass/_slider.scss */
    .slider #slide-one div p {
      font-size: 20px;
      color: #333333; }
    /* line 81, assets/sass/_slider.scss */
    .slider #slide-one div iframe {
      -webkit-box-shadow: -5px 8px 20px 0px rgba(50, 50, 50, 0.75);
      -moz-box-shadow: -5px 8px 20px 0px rgba(50, 50, 50, 0.75);
      box-shadow: -5px 8px 20px 0px rgba(50, 50, 50, 0.75);
      position: absolute;
      left: 20px;
      top: 150px; }
  @media screen and (max-width: 480px) {
    /* line 1, assets/sass/_slider.scss */
    .slider {
      display: none !important; } }

/* line 3, assets/sass/_products.scss */
header a .icon-cart {
  top: -50px;
  float: right;
  position: relative;
  display: inline;
  color: #5f862a;
  font-size: 20px; }
  /* line 10, assets/sass/_products.scss */
  header a .icon-cart:hover {
    color: #8f6ea7;
    cursor: pointer; }
/* line 15, assets/sass/_products.scss */
header a p {
  margin: 0px 10px;
  top: -57px;
  position: relative;
  float: right;
  display: inline;
  font-family: 'News Cycle', sans-serif;
  font-size: 20px; }
  /* line 23, assets/sass/_products.scss */
  header a p:hover {
    color: #8f6ea7;
    cursor: pointer; }

/* line 31, assets/sass/_products.scss */
aside .active {
  color: #90b95d; }
/* line 34, assets/sass/_products.scss */
aside h2, aside h3 {
  color: #90b95d; }
/* line 37, assets/sass/_products.scss */
aside input[type="text"] {
  width: 250px;
  margin-bottom: 20px;
  height: 30px;
  border: 0px solid;
  padding-left: 10px;
  padding-right: 30px;
  -webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.15); }
  @media screen and (max-width: 768px) {
    /* line 37, assets/sass/_products.scss */
    aside input[type="text"] {
      width: 180px; } }
/* line 49, assets/sass/_products.scss */
aside hr {
  width: 250px;
  margin-left: 0px; }
  @media screen and (max-width: 768px) {
    /* line 49, assets/sass/_products.scss */
    aside hr {
      width: 180px; } }
@media screen and (max-width: 768px) {
  /* line 56, assets/sass/_products.scss */
  aside section {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 32.20339%; }
    /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
    aside section:last-child {
      margin-right: 0; }
    /* line 78, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
    aside section:nth-child(3n) {
      margin-right: 0; }
    /* line 83, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
    aside section:nth-child(3n+1) {
      clear: left; } }
@media screen and (max-width: 480px) {
  /* line 56, assets/sass/_products.scss */
  aside section {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%; }
    /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
    aside section:last-child {
      margin-right: 0; } }
/* line 65, assets/sass/_products.scss */
aside select {
  display: none; }
  @media screen and (max-width: 768px) {
    /* line 65, assets/sass/_products.scss */
    aside select {
      display: inline; } }
/* line 71, assets/sass/_products.scss */
aside span {
  color: #d3d3d3;
  position: relative;
  right: 30px;
  top: 3px; }
  @media screen and (max-width: 768px) {
    /* line 71, assets/sass/_products.scss */
    aside span {
      right: 50px; } }
/* line 80, assets/sass/_products.scss */
aside ul {
  padding-left: 20px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
  color: #8f6ea7;
  font-size: 25px;
  list-style: none;
  display: inline; }
  /* line 87, assets/sass/_products.scss */
  aside ul li {
    margin-bottom: 7px;
    transition: color 0.3s ease; }
    /* line 90, assets/sass/_products.scss */
    aside ul li:before {
      content: "+";
      margin-right: 4px; }
    /* line 94, assets/sass/_products.scss */
    aside ul li:hover {
      color: #90b95d;
      cursor: pointer; }
  @media screen and (max-width: 768px) {
    /* line 80, assets/sass/_products.scss */
    aside ul {
      display: none; } }
@media screen and (max-width: 1050px) {
  /* line 30, assets/sass/_products.scss */
  aside {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 23.72881%; }
    /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
    aside:last-child {
      margin-right: 0; } }
@media screen and (max-width: 768px) {
  /* line 30, assets/sass/_products.scss */
  aside {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%; }
    /* line 107, assets/sass/_products.scss */
    aside hr {
      display: none; }
    /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
    aside:last-child {
      margin-right: 0; } }
@media screen and (max-width: 480px) {
  /* line 30, assets/sass/_products.scss */
  aside {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 100%; }
    /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
    aside:last-child {
      margin-right: 0; } }

/* line 116, assets/sass/_products.scss */
.icon-cart {
  display: inline;
  margin-left: 40px;
  color: #8f6ea7; }

/* line 121, assets/sass/_products.scss */
.products {
  margin-top: 20px;
  margin-bottom: 20px;
  float: left;
  display: block;
  margin-right: 1.69492%;
  width: 74.57627%; }
  /* line 124, assets/sass/_products.scss */
  .products .sale {
    position: relative; }
    /* line 126, assets/sass/_products.scss */
    .products .sale:before {
      content: url("/safe4kids/assets/art/sale.png");
      position: absolute;
      right: 0px;
      top: -10px;
      z-index: 100; }
      @media screen and (max-width: 768px) {
        /* line 126, assets/sass/_products.scss */
        .products .sale:before {
          right: 10px; } }
  /* line 137, assets/sass/_products.scss */
  .products article {
    float: left;
    display: block;
    margin-right: 1.69492%;
    width: 23.72881%; }
    /* line 138, assets/sass/_products.scss */
    .products article img {
      position: relative;
      top: 0px;
      left: 0px;
      margin: 0px auto;
      display: block;
      -webkit-box-shadow: 0px 0px 15px 0px rgba(143, 110, 167, 0.7);
      -moz-box-shadow: 0px 0px 15px 0px rgba(143, 110, 167, 0.7);
      box-shadow: 0px 0px 15px 0px rgba(143, 110, 167, 0.7); }
      /* line 145, assets/sass/_products.scss */
      .products article img:hover {
        -webkit-box-shadow: 0px 0px 15px 0px #90b95d;
        -moz-box-shadow: 0px 0px 15px 0px #90b95d;
        box-shadow: 0px 0px 15px 0px #90b95d;
        cursor: pointer; }
    /* line 150, assets/sass/_products.scss */
    .products article h2 {
      color: #90b95d;
      text-align: center;
      margin-bottom: 5px; }
    /* line 155, assets/sass/_products.scss */
    .products article div {
      text-align: center; }
      /* line 157, assets/sass/_products.scss */
      .products article div span {
        font-weight: bold; }
      /* line 160, assets/sass/_products.scss */
      .products article div a {
        color: #8f6ea7;
        font-weight: bold;
        font-size: 18px;
        transition: color 0.3s ease; }
        /* line 165, assets/sass/_products.scss */
        .products article div a:hover {
          color: #90b95d; }
      /* line 169, assets/sass/_products.scss */
      .products article div button {
        margin: 10px 0px;
        width: 90px;
        height: 30px;
        background-color: #90b95d;
        border: 0px;
        color: white;
        transition: background-color 0.3s ease; }
        /* line 177, assets/sass/_products.scss */
        .products article div button:hover {
          background-color: white;
          border: 1px solid #90b95d;
          color: #90b95d;
          cursor: pointer; }
    /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
    .products article:last-child {
      margin-right: 0; }
    @media screen and (max-width: 1050px) {
      /* line 137, assets/sass/_products.scss */
      .products article {
        float: left;
        display: block;
        margin-right: 2.27273%;
        width: 31.81818%; }
        /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
        .products article:last-child {
          margin-right: 0; }
        /* line 78, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
        .products article:nth-child(3n) {
          margin-right: 0; }
        /* line 83, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
        .products article:nth-child(3n+1) {
          clear: left; } }
    @media screen and (max-width: 768px) {
      /* line 137, assets/sass/_products.scss */
      .products article {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 32.20339%; }
        /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
        .products article:last-child {
          margin-right: 0; }
        /* line 78, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
        .products article:nth-child(3n) {
          margin-right: 0; }
        /* line 83, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
        .products article:nth-child(3n+1) {
          clear: left; } }
    @media screen and (max-width: 480px) {
      /* line 137, assets/sass/_products.scss */
      .products article {
        float: left;
        display: block;
        margin-right: 1.69492%;
        width: 100%; }
        /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
        .products article:last-child {
          margin-right: 0; } }
  /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
  .products:last-child {
    margin-right: 0; }
  @media screen and (max-width: 768px) {
    /* line 121, assets/sass/_products.scss */
    .products {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 74.57627%; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      .products:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 768px) {
    /* line 121, assets/sass/_products.scss */
    .products {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 100%; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      .products:last-child {
        margin-right: 0; } }
  @media screen and (max-width: 480px) {
    /* line 121, assets/sass/_products.scss */
    .products {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 100%; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      .products:last-child {
        margin-right: 0; } }

/* line 1, assets/sass/_footer.scss */
.social-wrap {
  border-top: 1px solid #8f6ea7;
  width: 100%;
  background-color: #e7e7e7; }
  /* line 5, assets/sass/_footer.scss */
  .social-wrap h2, .social-wrap h3, .social-wrap h4, .social-wrap p, .social-wrap i, .social-wrap address, .social-wrap li {
    color: #767676; }
  /* line 8, assets/sass/_footer.scss */
  .social-wrap .social {
    max-width: 75em;
    margin-left: auto;
    margin-right: auto;
    padding: 30px 0px; }
    /* line 9, C:/wamp/www/safe4kids/bourbon/addons/_clearfix.scss */
    .social-wrap .social::after {
      clear: both;
      content: "";
      display: table; }
    /* line 11, assets/sass/_footer.scss */
    .social-wrap .social section {
      float: left;
      display: block;
      margin-right: 1.69492%;
      width: 32.20339%; }
      /* line 12, assets/sass/_footer.scss */
      .social-wrap .social section address {
        font-family: 'News Cycle', sans-serif;
        font-style: italic; }
        /* line 15, assets/sass/_footer.scss */
        .social-wrap .social section address a {
          color: #90b95d; }
          /* line 17, assets/sass/_footer.scss */
          .social-wrap .social section address a:hover {
            color: #8f6ea7; }
      /* line 22, assets/sass/_footer.scss */
      .social-wrap .social section span {
        display: inline;
        font-size: 35px;
        color: #868686;
        margin: 10px 10px 0px 0px; }
        /* line 27, assets/sass/_footer.scss */
        .social-wrap .social section span:hover {
          color: #90b95d; }
      /* line 31, assets/sass/_footer.scss */
      .social-wrap .social section form {
        margin-bottom: 30px; }
        /* line 33, assets/sass/_footer.scss */
        .social-wrap .social section form input[type=text] {
          display: block;
          width: 245px;
          height: 30px;
          padding-left: 5px;
          border: 1px solid #8f6ea7;
          margin-bottom: 17px; }
        /* line 41, assets/sass/_footer.scss */
        .social-wrap .social section form input[type=submit] {
          width: 130px;
          height: 30px;
          background-color: #90b95d;
          border: 0px;
          color: #8f6ea7; }
          /* line 47, assets/sass/_footer.scss */
          .social-wrap .social section form input[type=submit]:hover {
            background-color: #8f6ea7;
            color: #90b95d; }
        @media screen and (max-width: 480px) {
          /* line 31, assets/sass/_footer.scss */
          .social-wrap .social section form {
            margin-bottom: 10px; } }
      /* line 56, assets/sass/_footer.scss */
      .social-wrap .social section h4, .social-wrap .social section i {
        color: #72be13; }
      /* line 59, assets/sass/_footer.scss */
      .social-wrap .social section i {
        display: block; }
      /* line 62, assets/sass/_footer.scss */
      .social-wrap .social section ul {
        list-style-type: none;
        padding-left: 0px; }
        /* line 65, assets/sass/_footer.scss */
        .social-wrap .social section ul li {
          font-family: 'News Cycle', sans-serif; }
          /* line 67, assets/sass/_footer.scss */
          .social-wrap .social section ul li:hover {
            color: #90b95d; }
      /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
      .social-wrap .social section:last-child {
        margin-right: 0; }
      /* line 78, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
      .social-wrap .social section:nth-child(3n) {
        margin-right: 0; }
      /* line 83, C:/wamp/www/safe4kids/neat/grid/_omega.scss */
      .social-wrap .social section:nth-child(3n+1) {
        clear: left; }
      @media screen and (max-width: 480px) {
        /* line 11, assets/sass/_footer.scss */
        .social-wrap .social section {
          float: left;
          display: block;
          margin-right: 1.69492%;
          width: 100%; }
          /* line 87, C:/wamp/www/safe4kids/neat/grid/_span-columns.scss */
          .social-wrap .social section:last-child {
            margin-right: 0; } }

/* line 80, assets/sass/_footer.scss */
footer {
  width: 100%;
  background-color: #212121;
  height: 50px;
  border-top: 2px solid #606060;
  padding: 12px 0; }
  /* line 86, assets/sass/_footer.scss */
  footer #back-to-top {
    float: right; }
    @media screen and (max-width: 768px) {
      /* line 86, assets/sass/_footer.scss */
      footer #back-to-top {
        display: none !important; } }
  /* line 92, assets/sass/_footer.scss */
  footer a {
    color: #90b95d; }
    /* line 94, assets/sass/_footer.scss */
    footer a:hover {
      color: #8f6ea7; }
  /* line 98, assets/sass/_footer.scss */
  footer p {
    margin: 0;
    font-size: 12px;
    float: left;
    color: white; }
  @media screen and (max-width: 768px) {
    /* line 80, assets/sass/_footer.scss */
    footer {
      padding-left: 20px; } }

/*# sourceMappingURL=style.css.map */
