header {
    width:100%;
    background-image: url('/safe4kids/assets/art/slider-background.jpg');
    background-size: 100% 200%;
    background-repeat: no-repeat;
    height: 80px;
    border-top: 1px solid $purple;
    border-bottom: 1px solid $purple;
    div {
        h1 {
            margin-top: 10px;
            color: $dark-green;
        }
        @include outer-container;
    }
}
.content {
    margin-top: 40px;
    margin-bottom:40px;
    @include outer-container;
}
