header {
    a {
        .icon-cart {
            top: -50px;
            float: right;
            position: relative;
            display: inline;
            color: $dark-green;
            font-size: 20px;
            &:hover {
                color: $purple;
                cursor: pointer;
            }
        }
        p {
            margin: 0px 10px;
            top: -57px;
            position: relative;
            float:right;
            display: inline;
            font-family: 'News Cycle', sans-serif;
            font-size: 20px;
            &:hover {
                color: $purple;
                cursor: pointer;
            }
        }
    }
}
aside {
    h2, h3 {
        color: $green;
    }
    input[type="text"] {
        width: 300px;
        margin-bottom: 20px;
        height: 30px;
        border: 0px solid;
        padding-left: 10px;
        padding-right: 30px;
        @include inner-shadow(0px, 0px, 10px, rgba(0, 0, 0, 0.15));
    }
    hr {
        width: 300px;
        margin-left: 0px;
    }
    span {
        color: #d3d3d3;
        position:relative;
        right: 25px;
        top: 3px;
        display: inline;
    }
    ul {
        padding-left: 20px;
        font-family: 'Yanone Kaffeesatz', sans-serif;
        color: $purple;
        font-size: 25px;
        list-style: none;
        li {
            margin-bottom: 7px;
            transition: color 0.3s ease;
            &:before {
                content: "+";
                margin-right: 4px;
            }
            &:hover {
                color: $green;
            }
        }
    }
}
.icon-cart {
    display: inline;
    margin-left: 40px;
    color: $purple;
}
