@charset "UTF-8";
/* CSS Document */

/* Colors */
$purple: #8f6ea7;
$green: #90b95d;
$headers: #454545;
$text: #747474;

//Import bourbon and neat.
@import "bourbon/bourbon";
@import "settings";
@import "neat/neat";

/* General */
a {
	text-decoration: none !important;
}
article {
	@include outer-container;
}
body {
	margin: 0px;
}
h1, h2, h3, h4, h5 {
	font-family: 'News Cycle', sans-serif;
	letter-spacing: 2px;
	color: $headers;
}
p {
	font-family: 'News Cycle', sans-serif;
	color: $text;
}
.wrap {
	width: $max-width;
	margin: 0 auto;
}

address, button, h1, h2, h3, h4, h5, input, p, ul  {
	@include media($tablet) {
		margin-left: 20px;
		margin-right: 20px;
	}
}
img {
	@include media($tablet) {
		margin-left: 5px;
	}
}

/* Mixins */
@mixin box-shadow($x, $y, $blur, $rgba) {
	-webkit-box-shadow: $x $y $blur 0px $rgba;
	-moz-box-shadow:    $x $y $blur 0px $rgba;
	box-shadow:         $x $y $blur 0px $rgba;
}

//Imports
@import 'header', 'content', 'fonts', 'home', 'slider', 'footer';
